extends ../layout/index

block estilos
  link(rel="stylesheet", href="/css/listaPoke.css")
  link(rel="shortcut icon", href="/favicon/poke2.png")

block cuerpocontenido
  .container
    h1 Lista de Pokémon

    .grid
      each p in pokemones
        .card
          if p.foto
            img(src=`/uploads/pokemon/${p.foto}`)
          else
            img(src="/img/no-image.png")

          h3= p.nombre

          p.tipo Tipo: #{p.tipo}
          p Nivel: #{p.nivel}
          p.precio $#{p.precio}

          //Boton de compra
          if !p.vendido
            form(method="POST", action=`/inicio/comprar/${p.id_pokemon}`)
              button.btn-comprar(type="submit") Comprar
          else
            button.btn-vendido(disabled) Vendido